body, input, textarea {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

header a {
  color: #fff;
  text-decoration: none;
}

.title_text {
  font-size: 19px;
}

.ResponsiveDrawer-toolBar-11 {
  min-height: auto;
  justify-content: space-between;
}

.ResponsiveDrawer-content-15 {
  padding-top: 66px!important;
}

.ResponsiveDrawer-root-9 .ResponsiveDrawer-content-15 {
  padding-top: 60px!important;
}

.ResponsiveDrawer-headerLogo-17 {
  height: auto!important;
}

.ResponsiveDrawer-content-16 {
  padding-bottom: auto;
}

h2 img {
  max-width: 100%;
}

.ResponsiveDrawer-headerLogo-16 {
  display: flex;
  height: auto!important;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

input[type=text] {
  font-size: 16px;
  transform: scale(0.8);
}

.MuiListItemIcon-root-161 {
  width: 24px;
  height: 24px;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiListItemIcon-root-161:before {
  margin-top: -2px;
}

.delete_drag_area {
  position: relative;
}

.fa-trash-alt {
  font-size: 18px;
  padding: 0 10px;
}

.fa-sync {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 10px;
}
